In [1]:
import pandas as pd

In [3]:
file_path = r'C:\CIG\data\지하철 시간대별 승하차(일별)\서울교통공사_역별 일별 시간대별 승하차인원 정보_20230430.csv'
df = pd.read_csv(file_path, encoding='ANSI')
df.head()

,연번,수송일자,호선,역번호,역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후
0,1,2023-01-01,1호선,150,서울역,승차,215,145,231,594,...,2655,2509,2696,2549,2462,2177,2190,1808,734,7
1,2,2023-01-01,1호선,150,서울역,하차,154,636,595,939,...,2282,2295,2526,1930,1897,1487,991,609,280,46
2,3,2023-01-01,1호선,151,시청,승차,48,73,106,194,...,843,895,959,985,670,630,515,330,146,0
3,4,2023-01-01,1호선,151,시청,하차,64,247,293,463,...,602,575,533,456,285,267,246,154,79,18
4,5,2023-01-01,1호선,152,종각,승차,407,235,158,201,...,1145,1402,1223,1272,911,913,906,602,232,3

#### 모든 열에 대해 결측치 없음 확인. '수송일자' dtype 변환

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65285 entries, 0 to 65284
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연번        65285 non-null  int64
 1   수송일자      65285 non-null  object
 2   호선        65285 non-null  object
 3   역번호       65285 non-null  int64
 4   역명        65285 non-null  object
 5   승하차구분     65285 non-null  object
 6   06시이전     65285 non-null  int64
 7   06-07시간대  65285 non-null  int64
 8   07-08시간대  65285 non-null  int64
 9   08-09시간대  65285 non-null  int64
 10  09-10시간대  65285 non-null  int64
 11  10-11시간대  65285 non-null  int64
 12  11-12시간대  65285 non-null  int64
 13  12-13시간대  65285 non-null  int64
 14  13-14시간대  65285 non-null  int64
 15  14-15시간대  65285 non-null  int64
 16  15-16시간대  65285 non-null  int64
 17  16-17시간대  65285 non-null  int64
 18  17-18시간대  65285 non-null  int64
 19  18-19시간대  65285 non-null  int64
 20  19-20시간대  65285 non-null  int64
 21  20-21시간대  65285 non-null  int64
 22  21-22시간대  65285 non-null  int64
 23  22-23시간대  65285 non-null  int64
 24  23-24시간대  65285 non-null  int64
 25  24시이후     65285 non-null  int64
dtypes: int64(22), object(4)
memory usage: 13.0+ MB

In [5]:
ndf = df.copy()

In [7]:
ndf['수송일자'] = pd.to_datetime(ndf['수송일자'])

In [8]:
ndf['수송일자'].dtype

dtype('<M8[ns]')

# '수송일자' 열을 이용하여 요일 구하기

In [10]:
ndf['요일'] = ndf['수송일자'].dt.weekday
ndf.head()

,연번,수송일자,호선,역번호,역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,요일
0,1,2023-01-01,1호선,150,서울역,승차,215,145,231,594,...,2509,2696,2549,2462,2177,2190,1808,734,7,6
1,2,2023-01-01,1호선,150,서울역,하차,154,636,595,939,...,2295,2526,1930,1897,1487,991,609,280,46,6
2,3,2023-01-01,1호선,151,시청,승차,48,73,106,194,...,895,959,985,670,630,515,330,146,0,6
3,4,2023-01-01,1호선,151,시청,하차,64,247,293,463,...,575,533,456,285,267,246,154,79,18,6
4,5,2023-01-01,1호선,152,종각,승차,407,235,158,201,...,1402,1223,1272,911,913,906,602,232,3,6

In [11]:
ndf.columns

Index(['연번', '수송일자', '호선', '역번호', '역명', '승하차구분', '06시이전', '06-07시간대',
       '07-08시간대', '08-09시간대', '09-10시간대', '10-11시간대', '11-12시간대', '12-13시간대',
       '13-14시간대', '14-15시간대', '15-16시간대', '16-17시간대', '17-18시간대', '18-19시간대',
       '19-20시간대', '20-21시간대', '21-22시간대', '22-23시간대', '23-24시간대', '24시이후',
       '요일'],
      dtype='object')

# '요일'을 보기 좋게 '수송일자' 다음으로 정렬

In [14]:
col = ['연번', '수송일자','요일', '호선', '역번호', '역명', '승하차구분', '06시이전', '06-07시간대',
       '07-08시간대', '08-09시간대', '09-10시간대', '10-11시간대', '11-12시간대', '12-13시간대',
       '13-14시간대', '14-15시간대', '15-16시간대', '16-17시간대', '17-18시간대', '18-19시간대',
       '19-20시간대', '20-21시간대', '21-22시간대', '22-23시간대', '23-24시간대', '24시이후'
       ]
ndf_renamed = ndf.loc[:, col]
ndf_renamed
# 0은 월요일, 6은 일요일

,연번,수송일자,요일,호선,역번호,역명,승하차구분,06시이전,06-07시간대,07-08시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후
0,1,2023-01-01,6,1호선,150,서울역,승차,215,145,231,...,2655,2509,2696,2549,2462,2177,2190,1808,734,7
1,2,2023-01-01,6,1호선,150,서울역,하차,154,636,595,...,2282,2295,2526,1930,1897,1487,991,609,280,46
2,3,2023-01-01,6,1호선,151,시청,승차,48,73,106,...,843,895,959,985,670,630,515,330,146,0
3,4,2023-01-01,6,1호선,151,시청,하차,64,247,293,...,602,575,533,456,285,267,246,154,79,18
4,5,2023-01-01,6,1호선,152,종각,승차,407,235,158,...,1145,1402,1223,1272,911,913,906,602,232,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65280,65281,2023-04-30,6,8호선,2826,수진,하차,15,54,65,...,239,217,277,241,254,198,254,222,117,12
65281,65282,2023-04-30,6,8호선,2827,모란,승차,54,82,73,...,271,241,218,204,175,153,148,126,70,1
65282,65283,2023-04-30,6,8호선,2827,모란,하차,13,84,63,...,177,228,200,235,235,181,147,128,54,17
65283,65284,2023-04-30,6,8호선,2828,남위례,승차,23,71,89,...,241,331,246,249,175,165,170,132,62,0
65284,65285,2023-04-30,6,8호선,2828,남위례,하차,15,71,69,...,285,406,359,326,307,224,205,159,151,0

### 숫자로 된 요일을 문자열로 변환

In [16]:
ndf_renamed['요일'] = ndf_renamed['수송일자'].dt.strftime('%a')
ndf_renamed

,연번,수송일자,요일,호선,역번호,역명,승하차구분,06시이전,06-07시간대,07-08시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후
0,1,2023-01-01,Sun,1호선,150,서울역,승차,215,145,231,...,2655,2509,2696,2549,2462,2177,2190,1808,734,7
1,2,2023-01-01,Sun,1호선,150,서울역,하차,154,636,595,...,2282,2295,2526,1930,1897,1487,991,609,280,46
2,3,2023-01-01,Sun,1호선,151,시청,승차,48,73,106,...,843,895,959,985,670,630,515,330,146,0
3,4,2023-01-01,Sun,1호선,151,시청,하차,64,247,293,...,602,575,533,456,285,267,246,154,79,18
4,5,2023-01-01,Sun,1호선,152,종각,승차,407,235,158,...,1145,1402,1223,1272,911,913,906,602,232,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65280,65281,2023-04-30,Sun,8호선,2826,수진,하차,15,54,65,...,239,217,277,241,254,198,254,222,117,12
65281,65282,2023-04-30,Sun,8호선,2827,모란,승차,54,82,73,...,271,241,218,204,175,153,148,126,70,1
65282,65283,2023-04-30,Sun,8호선,2827,모란,하차,13,84,63,...,177,228,200,235,235,181,147,128,54,17
65283,65284,2023-04-30,Sun,8호선,2828,남위례,승차,23,71,89,...,241,331,246,249,175,165,170,132,62,0
65284,65285,2023-04-30,Sun,8호선,2828,남위례,하차,15,71,69,...,285,406,359,326,307,224,205,159,151,0

In [17]:
ndf_renamed.to_csv(r'C:\CIG\data\전처리_지하철 시간대 승하차(일별)\지하철_요일추가_2023.csv')