In [1]:
import folium
import pandas as pd

# 서울 지도 만들기
seoul_map = folium.Map(location=[37.55,126.98], zoom_start=13)

seoul_map.save('./map_visual/seoul.html')

In [2]:
df = pd.read_csv('./\data\서울교통공사_1_8호선 역사 좌표(위경도) 정보_20211231.csv', encoding='ANSI')
df.head()

   연번  호선  고유역번호(외부역코드)    역명         위도          경도        작성일자
0   1   1           150    서울  37.553150  126.972533  1974-02-28
1   2   1           151    시청  37.563590  126.975407  1974-08-15
2   3   1           152    종각  37.570203  126.983116  1974-08-15
3   4   1           153  종로3가  37.570429  126.992095  1974-08-15
4   5   1           154  종로5가  37.570971  127.001900  1974-03-31

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   연번            276 non-null    int64
 1   호선            276 non-null    int64
 2   고유역번호(외부역코드)  276 non-null    int64
 3   역명            276 non-null    object
 4   위도            276 non-null    float64
 5   경도            276 non-null    float64
 6   작성일자          276 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 15.2+ KB

In [4]:
df.isnull().sum()

연번              0
호선              0
고유역번호(외부역코드)    0
역명              0
위도              0
경도              0
작성일자            0
dtype: int64

In [5]:
data = df.copy()

In [6]:
data['위도'] = data['위도'].astype('float')
data['경도'] = data['경도'].astype('float')

In [7]:
subway = data.loc[:, '호선':'경도']
subway.tail()

     호선  고유역번호(외부역코드)      역명         위도          경도
271   8          2823  남한산성입구  37.451568  127.159845
272   8          2824   단대오거리  37.445057  127.156735
273   8          2825      신흥  37.440952  127.147590
274   8          2826      수진  37.437575  127.140936
275   8          2827      모란  37.433888  127.129921

In [8]:
subway.loc[276] = [7, 2758, '상동', 37.5058, 126.7532]
subway.loc[277] = [7, 2753, '부평구청', 37.5087, 126.7206]
subway.loc[278] = [7, 2752, '까치울', 37.5062, 126.8110]
subway.loc[279] = [7, 2754, '부천시청', 37.5046, 126.7636]

In [9]:
subway['location'] = list(zip(subway['위도'], subway['경도']))
subway = subway.sort_values(by='고유역번호(외부역코드)')
subway

     호선  고유역번호(외부역코드)     역명         위도          경도                 location
0     1           150     서울  37.553150  126.972533   (37.55315, 126.972533)
1     1           151     시청  37.563590  126.975407   (37.56359, 126.975407)
2     1           152     종각  37.570203  126.983116  (37.570203, 126.983116)
3     1           153   종로3가  37.570429  126.992095  (37.570429, 126.992095)
4     1           154   종로5가  37.570971  127.001900    (37.570971, 127.0019)
..   ..           ...    ...        ...         ...                      ...
272   8          2824  단대오거리  37.445057  127.156735  (37.445057, 127.156735)
273   8          2825     신흥  37.440952  127.147590   (37.440952, 127.14759)
274   8          2826     수진  37.437575  127.140936  (37.437575, 127.140936)
275   8          2827     모란  37.433888  127.129921  (37.433888, 127.129921)
269   8          2828    남위례  37.462839  127.139047  (37.462839, 127.139047)

[280 rows x 6 columns]

In [10]:
subway.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280 entries, 0 to 269
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   호선            280 non-null    int64
 1   고유역번호(외부역코드)  280 non-null    int64
 2   역명            280 non-null    object
 3   위도            280 non-null    float64
 4   경도            280 non-null    float64
 5   location      280 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 15.3+ KB

In [11]:
for i in range(len(subway)):
    popup = folium.Popup(subway['역명'][i], max_width=200)
    folium.Marker(location=subway['location'][i], popup=popup).add_to(seoul_map)
seoul_map.save('./map_visual/seoul_metro.html')

In [12]:
# 서울 지도 초기화
seoul_map = folium.Map(location=[37.55,126.98], zoom_start=13)

In [13]:
subway['호선'].value_counts()

5    56
2    51
7    46
6    39
3    34
4    26
8    18
1    10
Name: 호선, dtype: int64

# 호선 별로 분리해서 DF를 생성

In [14]:
subways={}
for i in range(1, 9):
    subways[i] = subway[subway['호선'] == i]

In [15]:
subways[1]

   호선  고유역번호(외부역코드)    역명         위도          경도                 location
0   1           150    서울  37.553150  126.972533   (37.55315, 126.972533)
1   1           151    시청  37.563590  126.975407   (37.56359, 126.975407)
2   1           152    종각  37.570203  126.983116  (37.570203, 126.983116)
3   1           153  종로3가  37.570429  126.992095  (37.570429, 126.992095)
4   1           154  종로5가  37.570971  127.001900    (37.570971, 127.0019)
5   1           155   동대문  37.571790  127.011383   (37.57179, 127.011383)
7   1           156   신설동  37.576117  127.024710   (37.576117, 127.02471)
8   1           157   제기동  37.578116  127.034902  (37.578116, 127.034902)
9   1           158   청량리  37.580148  127.045063  (37.580148, 127.045063)
6   1           159   동묘앞  37.573265  127.016459  (37.573265, 127.016459)

In [16]:
subways[2].head()

    호선  고유역번호(외부역코드)     역명         위도          경도                 location
60   2           200    까치산  37.531810  126.846706   (37.53181, 126.846706)
52   2           201     시청  37.563534  126.975271  (37.563534, 126.975271)
10   2           202  을지로입구  37.565998  126.982569  (37.565998, 126.982569)
11   2           203  을지로3가  37.566292  126.991773  (37.566292, 126.991773)
12   2           204  을지로4가  37.566611  126.998122  (37.566611, 126.998122)

In [17]:
subways[8].head()

     호선  고유역번호(외부역코드)    역명         위도          경도                 location
258   8          2811    암사  37.550127  127.127521  (37.550127, 127.127521)
259   8          2812    천호  37.537920  127.123179   (37.53792, 127.123179)
260   8          2813  강동구청  37.530348  127.120461  (37.530348, 127.120461)
261   8          2814  몽촌토성  37.517692  127.112740   (37.517692, 127.11274)
262   8          2815    잠실  37.514649  127.104267  (37.514649, 127.104267)

# 호선 별로 지도에 마커생성

### 1) 기본 아이콘

In [18]:
from folium.features import CustomIcon

for j in range(1, 9):
    seoul_map = folium.Map(location=[37.55,126.98], zoom_start=13)
    for index, row in subways[j].iterrows():
        popup = folium.Popup(row['역명'], max_width=200)
        folium.Marker(location=row['location'], popup=popup).add_to(seoul_map)
    seoul_map.save(f'./map_visual/seoul_{j}.html')

### 2) 호선 별로 아이콘 지정

In [19]:
from folium.features import CustomIcon

for j in range(1, 9):
    seoul_map = folium.Map(location=[37.55,126.98], zoom_start=13)
    for index, row in subways[j].iterrows():

        # 호선 별로 다른 아이콘 지정
        icon_image = f'./icons/icon_{j}.svg'
        icon = CustomIcon(icon_image=icon_image, icon_size=(30, 30))
        
        popup = folium.Popup(row['역명'], max_width=200)
        folium.Marker(location=row['location'], popup=popup, icon=icon).add_to(seoul_map)
    seoul_map.save(f'./map_visual/seoul_{j}.html')

### 3) 호선 별로 아이콘 지정 - 로컬 서버 문제 해결

In [20]:
from folium.features import CustomIcon
import base64

for j in range(1, 9):
    seoul_map = folium.Map(location=[37.55,126.98], zoom_start=13)

    for index, row in subways[j].iterrows():

        with open(f'./icons/icon_{j}.svg', 'r') as f:
            svg = f.read()
        encoded = base64.b64encode(svg.encode('utf-8')).decode('utf-8')
        icon_image = f'data:image/svg+xml;base64,{encoded}' 
        icon = folium.CustomIcon(icon_image=icon_image, icon_size=(30, 30))

        popup = folium.Popup(row['역명'], max_width=200)
        folium.Marker(location=row['location'], popup=popup, icon=icon).add_to(seoul_map)
    seoul_map.save(f'./map_visual/seoul_{j}.html')

In [21]:
import pandas as pd
filepath = '../data/지하철/전처리_지하철/지하철_일별합계_요일_주말.csv'
number = pd.read_csv(filepath, encoding='utf-8', index_col=0)
number.head()

C:\Users\mase8\AppData\Local\Temp\ipykernel_24368\3087994399.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  number = pd.read_csv(filepath, encoding='utf-8', index_col=0)

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,총 이용인원,요일,휴무일
연번,,,,,,,,,,,,,,,,,,,,,
1,2022-05-01,1호선,150,서울역,승차,184,193,328,677,1120,...,2619,2648,2409,2494,1902,669,0.0,33880,Sun,주말
2,2022-05-01,1호선,150,서울역,하차,139,655,842,1066,1547,...,2626,2196,1844,1344,752,376,0.0,31237,Sun,주말
3,2022-05-01,1호선,151,시청,승차,61,67,124,162,211,...,1257,890,861,634,387,129,0.0,11449,Sun,주말
4,2022-05-01,1호선,151,시청,하차,77,250,336,652,1064,...,351,251,211,167,88,114,0.0,13167,Sun,주말
5,2022-05-01,1호선,152,종각,승차,211,120,115,203,200,...,2638,1989,1983,1874,1145,475,0.0,22293,Sun,주말

In [22]:
ndf = number.copy()

In [23]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198931 entries, 1 to 198931
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   수송일자          198931 non-null  object
 1   호선            198931 non-null  object
 2   고유역번호(외부역코드)  198931 non-null  object
 3   역명            198931 non-null  object
 4   승하차구분         198931 non-null  object
 5   06시이전         198931 non-null  int64
 6   06-07시간대      198931 non-null  int64
 7   07-08시간대      198931 non-null  int64
 8   08-09시간대      198931 non-null  int64
 9   09-10시간대      198931 non-null  int64
 10  10-11시간대      198931 non-null  int64
 11  11-12시간대      198931 non-null  int64
 12  12-13시간대      198931 non-null  int64
 13  13-14시간대      198931 non-null  int64
 14  14-15시간대      198931 non-null  int64
 15  15-16시간대      198931 non-null  int64
 16  16-17시간대      198931 non-null  int64
 17  17-18시간대      198931 non-null  int64
 18  18-19시간대      198931 non-null  int64
 19  19-20시간대      198931 non-null  int64
 20  20-21시간대      198931 non-null  int64
 21  21-22시간대      198931 non-null  int64
 22  22-23시간대      198931 non-null  int64
 23  23-24시간대      198931 non-null  int64
 24  24시이후         198931 non-null  float64
 25  총 이용인원        198931 non-null  int64
 26  요일            198931 non-null  object
 27  휴무일           198931 non-null  object
dtypes: float64(1), int64(20), object(7)
memory usage: 44.0+ MB

In [24]:
ndf.isnull().sum()

수송일자            0
호선              0
고유역번호(외부역코드)    0
역명              0
승하차구분           0
06시이전           0
06-07시간대        0
07-08시간대        0
08-09시간대        0
09-10시간대        0
10-11시간대        0
11-12시간대        0
12-13시간대        0
13-14시간대        0
14-15시간대        0
15-16시간대        0
16-17시간대        0
17-18시간대        0
18-19시간대        0
19-20시간대        0
20-21시간대        0
21-22시간대        0
22-23시간대        0
23-24시간대        0
24시이후           0
총 이용인원          0
요일              0
휴무일             0
dtype: int64

### '고유역번호' 값이 공백을 포함해 int형으로 변환이 불가

### 공백을 제거하고 int형으로 변환

In [25]:
import numpy as np
ndf['고유역번호(외부역코드)'].replace(' ', np.nan)
ndf['고유역번호(외부역코드)'].str.replace(' ', '') 
ndf['고유역번호(외부역코드)'] = pd.to_numeric(ndf['고유역번호(외부역코드)'], errors='coerce')

In [26]:
ndf['고유역번호(외부역코드)']

연번
1          150.0
2          150.0
3          151.0
4          151.0
5          152.0
           ...
198927    2826.0
198928    2827.0
198929    2827.0
198930    2828.0
198931    2828.0
Name: 고유역번호(외부역코드), Length: 198931, dtype: float64

### null 값 처리

In [27]:
ndf[ndf['고유역번호(외부역코드)'].isnull()]

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,총 이용인원,요일,휴무일
연번,,,,,,,,,,,,,,,,,,,,,
67047,2022-08-31,7호선,NaN,광명사거리,승차,801,1299,3405,3901,1843,...,1283,779,521,448,346,124,15.0,23307,Wed,주중

In [28]:
ndf[ndf['역명'] == '광명사거리'].head()

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,총 이용인원,요일,휴무일
연번,,,,,,,,,,,,,,,,,,,,,
507,2022-05-01,7호선,2750.0,광명사거리,승차,275,326,477,729,1003,...,748,713,485,377,227,91,0.0,13370,Sun,주말
508,2022-05-01,7호선,2750.0,광명사거리,하차,58,231,248,341,571,...,1101,905,727,707,586,341,0.0,13213,Sun,주말
1053,2022-05-02,7호선,2750.0,광명사거리,승차,800,1449,3677,4006,1885,...,1130,737,540,394,283,90,0.0,22971,Mon,주중
1054,2022-05-02,7호선,2750.0,광명사거리,하차,221,471,741,1034,768,...,3427,2835,1450,1104,970,677,0.0,22554,Mon,주중
1597,2022-05-03,7호선,2750.0,광명사거리,승차,820,1396,3713,4127,1872,...,1134,754,546,384,293,111,0.0,23245,Tue,주중

In [29]:
ndf.loc[ndf['역명'] == '광명사거리', '고유역번호(외부역코드)'] = 2750

In [30]:
ndf[ndf['고유역번호(외부역코드)'].isnull()]

Empty DataFrame
Columns: [수송일자, 호선, 고유역번호(외부역코드), 역명, 승하차구분, 06시이전, 06-07시간대, 07-08시간대, 08-09시간대, 09-10시간대, 10-11시간대, 11-12시간대, 12-13시간대, 13-14시간대, 14-15시간대, 15-16시간대, 16-17시간대, 17-18시간대, 18-19시간대, 19-20시간대, 20-21시간대, 21-22시간대, 22-23시간대, 23-24시간대, 24시이후, 총 이용인원, 요일, 휴무일]
Index: []

[0 rows x 28 columns]

In [31]:
ndf['고유역번호(외부역코드)'] = ndf['고유역번호(외부역코드)'].astype('int')

In [32]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198931 entries, 1 to 198931
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   수송일자          198931 non-null  object
 1   호선            198931 non-null  object
 2   고유역번호(외부역코드)  198931 non-null  int32
 3   역명            198931 non-null  object
 4   승하차구분         198931 non-null  object
 5   06시이전         198931 non-null  int64
 6   06-07시간대      198931 non-null  int64
 7   07-08시간대      198931 non-null  int64
 8   08-09시간대      198931 non-null  int64
 9   09-10시간대      198931 non-null  int64
 10  10-11시간대      198931 non-null  int64
 11  11-12시간대      198931 non-null  int64
 12  12-13시간대      198931 non-null  int64
 13  13-14시간대      198931 non-null  int64
 14  14-15시간대      198931 non-null  int64
 15  15-16시간대      198931 non-null  int64
 16  16-17시간대      198931 non-null  int64
 17  17-18시간대      198931 non-null  int64
 18  18-19시간대      198931 non-null  int64
 19  19-20시간대      198931 non-null  int64
 20  20-21시간대      198931 non-null  int64
 21  21-22시간대      198931 non-null  int64
 22  22-23시간대      198931 non-null  int64
 23  23-24시간대      198931 non-null  int64
 24  24시이후         198931 non-null  float64
 25  총 이용인원        198931 non-null  int64
 26  요일            198931 non-null  object
 27  휴무일           198931 non-null  object
dtypes: float64(1), int32(1), int64(20), object(6)
memory usage: 43.3+ MB

In [33]:
ndf[ndf['역명'] == '상동']

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,총 이용인원,요일,휴무일
연번,,,,,,,,,,,,,,,,,,,,,
57767,2022-08-14,7호선,2758,상동,승차,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0,Sun,주말
57768,2022-08-14,7호선,2758,상동,하차,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0,Sun,주말
65959,2022-08-29,7호선,2758,상동,승차,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0,Mon,주중
65960,2022-08-29,7호선,2758,상동,하차,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0,Mon,주중

# 위치정보와 승차인원 정보 병합

In [34]:
total = ndf.merge(subway, on='고유역번호(외부역코드)', how='outer')
total.head()

,수송일자,호선_x,고유역번호(외부역코드),역명_x,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,23-24시간대,24시이후,총 이용인원,요일,휴무일,호선_y,역명_y,위도,경도,location
0,2022-05-01,1호선,150,서울역,승차,184.0,193.0,328.0,677.0,1120.0,...,669.0,0.0,33880.0,Sun,주말,1.0,서울,37.55315,126.972533,"(37.55315, 126.972533)"
1,2022-05-01,1호선,150,서울역,하차,139.0,655.0,842.0,1066.0,1547.0,...,376.0,0.0,31237.0,Sun,주말,1.0,서울,37.55315,126.972533,"(37.55315, 126.972533)"
2,2022-05-02,1호선,150,서울역,승차,351.0,531.0,2071.0,2968.0,1926.0,...,503.0,0.0,45792.0,Mon,주중,1.0,서울,37.55315,126.972533,"(37.55315, 126.972533)"
3,2022-05-02,1호선,150,서울역,하차,299.0,1951.0,4478.0,9061.0,5258.0,...,458.0,0.0,43897.0,Mon,주중,1.0,서울,37.55315,126.972533,"(37.55315, 126.972533)"
4,2022-05-03,1호선,150,서울역,승차,318.0,506.0,1601.0,2683.0,1822.0,...,590.0,0.0,45995.0,Tue,주중,1.0,서울,37.55315,126.972533,"(37.55315, 126.972533)"

### 결측치 확인 및 처리

In [35]:
total.isnull().sum()

수송일자            2
호선_x            2
고유역번호(외부역코드)    0
역명_x            2
승하차구분           2
06시이전           2
06-07시간대        2
07-08시간대        2
08-09시간대        2
09-10시간대        2
10-11시간대        2
11-12시간대        2
12-13시간대        2
13-14시간대        2
14-15시간대        2
15-16시간대        2
16-17시간대        2
17-18시간대        2
18-19시간대        2
19-20시간대        2
20-21시간대        2
21-22시간대        2
22-23시간대        2
23-24시간대        2
24시이후           2
총 이용인원          2
요일              2
휴무일             2
호선_y            8
역명_y            8
위도              8
경도              8
location        8
dtype: int64

In [43]:
total.loc[total['위도'].isnull()]

,수송일자,호선_x,고유역번호(외부역코드),역명_x,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,23-24시간대,24시이후,총 이용인원,요일,휴무일,호선_y,역명_y,위도,경도,location
199647,2022-08-27,7호선,2761,부평구청,승차,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Sat,주말,NaN,NaN,NaN,NaN,NaN
199648,2022-08-27,7호선,2761,부평구청,하차,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Sat,주말,NaN,NaN,NaN,NaN,NaN
199649,2022-08-29,7호선,2761,부평구청,승차,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Mon,주중,NaN,NaN,NaN,NaN,NaN
199650,2022-08-29,7호선,2761,부평구청,하차,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Mon,주중,NaN,NaN,NaN,NaN,NaN
199651,2022-12-06,7호선,2761,부평구청,승차,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Tue,주중,NaN,NaN,NaN,NaN,NaN
199652,2022-12-06,7호선,2761,부평구청,하차,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Tue,주중,NaN,NaN,NaN,NaN,NaN
199659,2022-12-06,7호선,2757,부천시청,승차,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Tue,주중,NaN,NaN,NaN,NaN,NaN
199660,2022-12-06,7호선,2757,부천시청,하차,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Tue,주중,NaN,NaN,NaN,NaN,NaN

In [44]:
total.loc[total['24시이후'].isnull()]

,수송일자,호선_x,고유역번호(외부역코드),역명_x,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,23-24시간대,24시이후,총 이용인원,요일,휴무일,호선_y,역명_y,위도,경도,location
199661,NaN,NaN,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,까치산,37.53181,126.846706,"(37.53181, 126.846706)"
199662,NaN,NaN,2754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,부천시청,37.50460,126.763600,"(37.5046, 126.7636)"

In [45]:
total.dropna(inplace=True)
total.isnull().sum()

수송일자            0
호선_x            0
고유역번호(외부역코드)    0
역명_x            0
승하차구분           0
06시이전           0
06-07시간대        0
07-08시간대        0
08-09시간대        0
09-10시간대        0
10-11시간대        0
11-12시간대        0
12-13시간대        0
13-14시간대        0
14-15시간대        0
15-16시간대        0
16-17시간대        0
17-18시간대        0
18-19시간대        0
19-20시간대        0
20-21시간대        0
21-22시간대        0
22-23시간대        0
23-24시간대        0
24시이후           0
총 이용인원          0
요일              0
휴무일             0
호선_y            0
역명_y            0
위도              0
경도              0
location        0
dtype: int64

In [50]:
total.drop(['호선_y', '역명_y'], axis=1, inplace=True)

In [51]:
total.columns

Index(['수송일자', '호선_x', '고유역번호(외부역코드)', '역명_x', '승하차구분', '06시이전', '06-07시간대',
       '07-08시간대', '08-09시간대', '09-10시간대', '10-11시간대', '11-12시간대', '12-13시간대',
       '13-14시간대', '14-15시간대', '15-16시간대', '16-17시간대', '17-18시간대', '18-19시간대',
       '19-20시간대', '20-21시간대', '21-22시간대', '22-23시간대', '23-24시간대', '24시이후',
       '총 이용인원', '요일', '휴무일', '위도', '경도', 'location'],
      dtype='object')

In [53]:
total.rename(columns={'호선_x':'호선', '역명_x':'역명'}, inplace=True)

## 병합된 데이터 프레임을 호선별로 분리

In [73]:
result1 = total.pivot_table(index=['호선', '역명', '승하차구분', 'location'],\
                  values=['08-09시간대', '09-10시간대', '18-19시간대', '19-20시간대','총 이용인원'], aggfunc='sum')
result1

                                            08-09시간대  09-10시간대   18-19시간대  \
호선  역명       승하차구분 location
1호선 동대문      승차    (37.57179, 127.011383)   227445.0  215035.0   284470.0
             하차    (37.57179, 127.011383)   256231.0  262607.0   241705.0
    동묘앞      승차    (37.573265, 127.016459)  128053.0  110519.0   249852.0
             하차    (37.573265, 127.016459)  242752.0  209124.0   131001.0
    서울역      승차    (37.55315, 126.972533)   817275.0  685688.0  2477828.0
...                                              ...       ...        ...
8호선 잠실(송파구청) 하차    (37.514649, 127.104267)  940991.0  549346.0   532860.0
    장지       승차    (37.478609, 127.126229)  683479.0  380614.0   575766.0
             하차    (37.478609, 127.126229)  565908.0  357701.0   613072.0
    천호(풍납토성) 승차    (37.53792, 127.123179)   676214.0  387037.0   366177.0
             하차    (37.53792, 127.123179)   340334.0  281828.0   806300.0

                                             19-20시간대      총 이용인원
호선  역명       승하차구분 location
1호선 동대문      승차    (37.57179, 127.011383)    202690.0   4087654.0
             하차    (37.57179, 127.011383)    227981.0   3936357.0
    동묘앞      승차    (37.573265, 127.016459)   116394.0   3420384.0
             하차    (37.573265, 127.016459)    90725.0   3550737.0
    서울역      승차    (37.55315, 126.972533)   1285240.0  17417405.0
...                                               ...         ...
8호선 잠실(송파구청) 하차    (37.514649, 127.104267)   273405.0   6428994.0
    장지       승차    (37.478609, 127.126229)   310408.0   5901156.0
             하차    (37.478609, 127.126229)   432058.0   5581239.0
    천호(풍납토성) 승차    (37.53792, 127.123179)    237630.0   5115350.0
             하차    (37.53792, 127.123179)    556919.0   5895491.0

[556 rows x 5 columns]

In [74]:
result1 = result1.reset_index()

In [75]:
result1

,호선,역명,승하차구분,location,08-09시간대,09-10시간대,18-19시간대,19-20시간대,총 이용인원
0,1호선,동대문,승차,"(37.57179, 127.011383)",227445.0,215035.0,284470.0,202690.0,4087654.0
1,1호선,동대문,하차,"(37.57179, 127.011383)",256231.0,262607.0,241705.0,227981.0,3936357.0
2,1호선,동묘앞,승차,"(37.573265, 127.016459)",128053.0,110519.0,249852.0,116394.0,3420384.0
3,1호선,동묘앞,하차,"(37.573265, 127.016459)",242752.0,209124.0,131001.0,90725.0,3550737.0
4,1호선,서울역,승차,"(37.55315, 126.972533)",817275.0,685688.0,2477828.0,1285240.0,17417405.0
...,...,...,...,...,...,...,...,...,...
551,8호선,잠실(송파구청),하차,"(37.514649, 127.104267)",940991.0,549346.0,532860.0,273405.0,6428994.0
552,8호선,장지,승차,"(37.478609, 127.126229)",683479.0,380614.0,575766.0,310408.0,5901156.0
553,8호선,장지,하차,"(37.478609, 127.126229)",565908.0,357701.0,613072.0,432058.0,5581239.0
554,8호선,천호(풍납토성),승차,"(37.53792, 127.123179)",676214.0,387037.0,366177.0,237630.0,5115350.0
555,8호선,천호(풍납토성),하차,"(37.53792, 127.123179)",340334.0,281828.0,806300.0,556919.0,5895491.0

In [72]:
result2 = total.pivot_table(index=['호선', '역명', 'location'],\
                  values=['08-09시간대', '09-10시간대', '18-19시간대', '19-20시간대','총 이용인원'], aggfunc='sum')
result2

                                       08-09시간대   09-10시간대   18-19시간대  \
호선  역명       location
1호선 동대문      (37.57179, 127.011383)    483676.0   477642.0   526175.0
    동묘앞      (37.573265, 127.016459)   370805.0   319643.0   380853.0
    서울역      (37.55315, 126.972533)   3352538.0  2436771.0  3594921.0
    시청       (37.56359, 126.975407)   2368042.0  1184116.0  2180984.0
    신설동      (37.576117, 127.02471)   1021849.0   618231.0   963712.0
...                                         ...        ...        ...
8호선 신흥       (37.440952, 127.14759)    308706.0   179013.0   315913.0
    암사       (37.550127, 127.127521)  1492437.0   790816.0  1121574.0
    잠실(송파구청) (37.514649, 127.104267)  1097166.0   668443.0  1347679.0
    장지       (37.478609, 127.126229)  1249387.0   738315.0  1188838.0
    천호(풍납토성) (37.53792, 127.123179)   1016548.0   668865.0  1172477.0

                                       19-20시간대      총 이용인원
호선  역명       location
1호선 동대문      (37.57179, 127.011383)    430671.0   8024011.0
    동묘앞      (37.573265, 127.016459)   207119.0   6971121.0
    서울역      (37.55315, 126.972533)   2038519.0  34295304.0
    시청       (37.56359, 126.975407)    856591.0  16752921.0
    신설동      (37.576117, 127.02471)    490850.0   9269269.0
...                                         ...         ...
8호선 신흥       (37.440952, 127.14759)    235748.0   3383747.0
    암사       (37.550127, 127.127521)   868913.0  12053130.0
    잠실(송파구청) (37.514649, 127.104267)   752967.0  11923053.0
    장지       (37.478609, 127.126229)   742466.0  11482395.0
    천호(풍납토성) (37.53792, 127.123179)    794549.0  11010841.0

[278 rows x 5 columns]

In [76]:
result2 = result2.reset_index()

In [77]:
result2

,호선,역명,location,08-09시간대,09-10시간대,18-19시간대,19-20시간대,총 이용인원
0,1호선,동대문,"(37.57179, 127.011383)",483676.0,477642.0,526175.0,430671.0,8024011.0
1,1호선,동묘앞,"(37.573265, 127.016459)",370805.0,319643.0,380853.0,207119.0,6971121.0
2,1호선,서울역,"(37.55315, 126.972533)",3352538.0,2436771.0,3594921.0,2038519.0,34295304.0
3,1호선,시청,"(37.56359, 126.975407)",2368042.0,1184116.0,2180984.0,856591.0,16752921.0
4,1호선,신설동,"(37.576117, 127.02471)",1021849.0,618231.0,963712.0,490850.0,9269269.0
...,...,...,...,...,...,...,...,...
273,8호선,신흥,"(37.440952, 127.14759)",308706.0,179013.0,315913.0,235748.0,3383747.0
274,8호선,암사,"(37.550127, 127.127521)",1492437.0,790816.0,1121574.0,868913.0,12053130.0
275,8호선,잠실(송파구청),"(37.514649, 127.104267)",1097166.0,668443.0,1347679.0,752967.0,11923053.0
276,8호선,장지,"(37.478609, 127.126229)",1249387.0,738315.0,1188838.0,742466.0,11482395.0
277,8호선,천호(풍납토성),"(37.53792, 127.123179)",1016548.0,668865.0,1172477.0,794549.0,11010841.0

In [84]:
line = {}
for i in range(1, 9):
    line[i] = result2[result2['호선'] == f'{i}호선']
line[2].head()

,호선,역명,location,08-09시간대,09-10시간대,18-19시간대,19-20시간대,총 이용인원
10,2호선,강남,"(37.497958, 127.027539)",4344549.0,4305366.0,5984790.0,3772411.0,53734743.0
11,2호선,강변(동서울터미널),"(37.535161, 127.094684)",1925154.0,1470430.0,2079007.0,1485465.0,22281258.0
12,2호선,건대입구,"(37.540408, 127.069231)",1845529.0,1370443.0,2923877.0,2085987.0,26835120.0
13,2호선,교대(법원.검찰청),"(37.493957, 127.014631)",2283876.0,2039508.0,2562075.0,1322630.0,23248812.0
14,2호선,구로디지털단지,"(37.485005, 126.902626)",5059692.0,3083289.0,4554731.0,2854549.0,38753787.0

In [85]:
line[2].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 10 to 59
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   호선        50 non-null     object
 1   역명        50 non-null     object
 2   location  50 non-null     object
 3   08-09시간대  50 non-null     float64
 4   09-10시간대  50 non-null     float64
 5   18-19시간대  50 non-null     float64
 6   19-20시간대  50 non-null     float64
 7   총 이용인원    50 non-null     float64
dtypes: float64(5), object(3)
memory usage: 3.5+ KB

In [89]:
line_colors = {
    '1호선': '#0052A4',
    '2호선': '#00A84D',
    '3호선': '#EF7C1C',
    '4호선': '#00A4E3',
    '5호선': '#996CAC',
    '6호선': '#CD7C2F',
    '7호선': '#747F00',
    '8호선': '#E6186C'
}
max_pop = max(max(line[i]['총 이용인원']) for i in range(1, 9))

for i in range(1, 9):
    seoul_map = folium.Map(location=[37.55,126.98], zoom_start=13) 
    line_name = f'{i}호선'
    for index, row in line[i].iterrows():        
        popup = folium.Popup(row['역명'], max_width=200)
        radius = 70 * (row['총 이용인원']/max_pop)
        folium.CircleMarker(location=row['location'], popup=popup,\
                            color=line_colors[line_name], fill_color=line_colors[line_name],\
                            radius=radius).add_to(seoul_map)
    seoul_map.save(f'./map_visual/seoul_result{i}.html')

In [93]:
line_colors = {
    '1호선': '#0052A4',
    '2호선': '#00A84D',
    '3호선': '#EF7C1C',
    '4호선': '#00A4E3',
    '5호선': '#996CAC',
    '6호선': '#CD7C2F',
    '7호선': '#747F00',
    '8호선': '#E6186C'
}
max_pop_tot = max(max(result2['총 이용인원']) for i in result2.iterrows())

seoul_map = folium.Map(location=[37.55,126.98], zoom_start=13)
for index, row in result2.iterrows():
    line_name = row['호선']
    popup = folium.Popup(row['역명'], max_width=200)
    radius = 50 * (row['총 이용인원']/max_pop_tot)
    folium.CircleMarker(location=row['location'], popup=popup,\
                        color=line_colors[line_name], fill_color=line_colors[line_name],\
                        radius=radius).add_to(seoul_map)
    seoul_map.save(f'./map_visual/seoul_result_tot.html')