In [1]:
import pandas as pd
filepath = '../data/지하철/전처리_지하철/지하철_일별합계_요일_주말.csv'
df = pd.read_csv(filepath, encoding='utf-8', index_col=0)
df.head()

C:\Users\mase8\AppData\Local\Temp\ipykernel_1972\3343359936.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='utf-8', index_col=0)

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,총 이용인원,요일,휴무일
연번,,,,,,,,,,,,,,,,,,,,,
1,2022-05-01,1호선,150,서울역,승차,184,193,328,677,1120,...,2619,2648,2409,2494,1902,669,0.0,33880,Sun,주말
2,2022-05-01,1호선,150,서울역,하차,139,655,842,1066,1547,...,2626,2196,1844,1344,752,376,0.0,31237,Sun,주말
3,2022-05-01,1호선,151,시청,승차,61,67,124,162,211,...,1257,890,861,634,387,129,0.0,11449,Sun,주말
4,2022-05-01,1호선,151,시청,하차,77,250,336,652,1064,...,351,251,211,167,88,114,0.0,13167,Sun,주말
5,2022-05-01,1호선,152,종각,승차,211,120,115,203,200,...,2638,1989,1983,1874,1145,475,0.0,22293,Sun,주말

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198931 entries, 1 to 198931
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   수송일자          198931 non-null  object
 1   호선            198931 non-null  object
 2   고유역번호(외부역코드)  198931 non-null  object
 3   역명            198931 non-null  object
 4   승하차구분         198931 non-null  object
 5   06시이전         198931 non-null  int64
 6   06-07시간대      198931 non-null  int64
 7   07-08시간대      198931 non-null  int64
 8   08-09시간대      198931 non-null  int64
 9   09-10시간대      198931 non-null  int64
 10  10-11시간대      198931 non-null  int64
 11  11-12시간대      198931 non-null  int64
 12  12-13시간대      198931 non-null  int64
 13  13-14시간대      198931 non-null  int64
 14  14-15시간대      198931 non-null  int64
 15  15-16시간대      198931 non-null  int64
 16  16-17시간대      198931 non-null  int64
 17  17-18시간대      198931 non-null  int64
 18  18-19시간대      198931 non-null  int64
 19  19-20시간대      198931 non-null  int64
 20  20-21시간대      198931 non-null  int64
 21  21-22시간대      198931 non-null  int64
 22  22-23시간대      198931 non-null  int64
 23  23-24시간대      198931 non-null  int64
 24  24시이후         198931 non-null  float64
 25  총 이용인원        198931 non-null  int64
 26  요일            198931 non-null  object
 27  휴무일           198931 non-null  object
dtypes: float64(1), int64(20), object(7)
memory usage: 44.0+ MB

In [20]:
df.isnull().sum()

수송일자            0
호선              0
고유역번호(외부역코드)    0
역명              0
승하차구분           0
06시이전           0
06-07시간대        0
07-08시간대        0
08-09시간대        0
09-10시간대        0
10-11시간대        0
11-12시간대        0
12-13시간대        0
13-14시간대        0
14-15시간대        0
15-16시간대        0
16-17시간대        0
17-18시간대        0
18-19시간대        0
19-20시간대        0
20-21시간대        0
21-22시간대        0
22-23시간대        0
23-24시간대        0
24시이후           0
총 이용인원          0
요일              0
휴무일             0
dtype: int64

In [3]:
ndf = df.copy()

In [28]:
import numpy as np
ndf['고유역번호(외부역코드)'].replace(' ', np.nan)
ndf['고유역번호(외부역코드)'].str.replace(' ', '') 
ndf['고유역번호(외부역코드)'] = pd.to_numeric(ndf['고유역번호(외부역코드)'], errors='coerce')

In [29]:
ndf[ndf['고유역번호(외부역코드)'].isnull()]

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,총 이용인원,요일,휴무일
연번,,,,,,,,,,,,,,,,,,,,,
67047,2022-08-31,7호선,NaN,광명사거리,승차,801,1299,3405,3901,1843,...,1283,779,521,448,346,124,15.0,23307,Wed,주중

In [30]:
ndf.loc[ndf['역명'] == '광명사거리', '고유역번호(외부역코드)'] = 2750

In [31]:
ndf[ndf['고유역번호(외부역코드)'].isnull()]

Empty DataFrame
Columns: [수송일자, 호선, 고유역번호(외부역코드), 역명, 승하차구분, 06시이전, 06-07시간대, 07-08시간대, 08-09시간대, 09-10시간대, 10-11시간대, 11-12시간대, 12-13시간대, 13-14시간대, 14-15시간대, 15-16시간대, 16-17시간대, 17-18시간대, 18-19시간대, 19-20시간대, 20-21시간대, 21-22시간대, 22-23시간대, 23-24시간대, 24시이후, 총 이용인원, 요일, 휴무일]
Index: []

[0 rows x 28 columns]

In [39]:
ndf['고유역번호(외부역코드)'] = ndf['고유역번호(외부역코드)'].astype('int')

In [47]:
ndf[(ndf['역명'] == '충무로')&(ndf['수송일자']== '2023-04-17')]

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,총 이용인원,요일,휴무일
연번,,,,,,,,,,,,,,,,,,,,,
191459,2023-04-17,3호선,321,충무로,승차,0,0,0,0,2,...,0,0,0,0,0,0,0.0,3,Mon,주중
191530,2023-04-17,4호선,423,충무로,승차,103,149,449,697,874,...,7000,3189,2371,2151,1615,750,187.0,34343,Mon,주중
191531,2023-04-17,4호선,423,충무로,하차,136,949,2957,8436,5107,...,1514,873,534,489,416,258,94.0,35116,Mon,주중

In [49]:
ndf = ndf.drop(191459)

In [51]:
ndf['24시이후'] = ndf['24시이후'].astype('int')

In [52]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198930 entries, 1 to 198931
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   수송일자          198930 non-null  object
 1   호선            198930 non-null  object
 2   고유역번호(외부역코드)  198930 non-null  int32
 3   역명            198930 non-null  object
 4   승하차구분         198930 non-null  object
 5   06시이전         198930 non-null  int64
 6   06-07시간대      198930 non-null  int64
 7   07-08시간대      198930 non-null  int64
 8   08-09시간대      198930 non-null  int64
 9   09-10시간대      198930 non-null  int64
 10  10-11시간대      198930 non-null  int64
 11  11-12시간대      198930 non-null  int64
 12  12-13시간대      198930 non-null  int64
 13  13-14시간대      198930 non-null  int64
 14  14-15시간대      198930 non-null  int64
 15  15-16시간대      198930 non-null  int64
 16  16-17시간대      198930 non-null  int64
 17  17-18시간대      198930 non-null  int64
 18  18-19시간대      198930 non-null  int64
 19  19-20시간대      198930 non-null  int64
 20  20-21시간대      198930 non-null  int64
 21  21-22시간대      198930 non-null  int64
 22  22-23시간대      198930 non-null  int64
 23  23-24시간대      198930 non-null  int64
 24  24시이후         198930 non-null  int32
 25  총 이용인원        198930 non-null  int64
 26  요일            198930 non-null  object
 27  휴무일           198930 non-null  object
dtypes: int32(2), int64(20), object(6)
memory usage: 42.5+ MB

In [55]:
ndf.to_csv('../data/지하철/전처리_지하철/전처리_지하철_요일_고유역번호0717.csv')