In [1]:
import pandas as pd
filepath = '../data/지하철/전처리_지하철/전처리_지하철_요일_고유역번호0717.csv'
df = pd.read_csv(filepath, encoding='utf-8', index_col=0)
df.head()

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,총 이용인원,요일,휴무일
연번,,,,,,,,,,,,,,,,,,,,,
1,2022-05-01,1호선,150,서울역,승차,184,193,328,677,1120,...,2619,2648,2409,2494,1902,669,0,33880,Sun,주말
2,2022-05-01,1호선,150,서울역,하차,139,655,842,1066,1547,...,2626,2196,1844,1344,752,376,0,31237,Sun,주말
3,2022-05-01,1호선,151,시청,승차,61,67,124,162,211,...,1257,890,861,634,387,129,0,11449,Sun,주말
4,2022-05-01,1호선,151,시청,하차,77,250,336,652,1064,...,351,251,211,167,88,114,0,13167,Sun,주말
5,2022-05-01,1호선,152,종각,승차,211,120,115,203,200,...,2638,1989,1983,1874,1145,475,0,22293,Sun,주말

In [2]:
ndf = df.copy()

In [3]:
df_up = ndf[ndf['승하차구분'] == '승차']
df_down = ndf[ndf['승하차구분'] == '하차']

df_diff = df_up.set_index(['수송일자', '호선', '고유역번호(외부역코드)', '역명']).loc[:,'06시이전':'총 이용인원']\
- df_down.set_index(['수송일자', '호선', '고유역번호(외부역코드)', '역명']).loc[:,'06시이전':'총 이용인원']

df_diff.head()

                                  06시이전  06-07시간대  07-08시간대  08-09시간대  \
수송일자       호선  고유역번호(외부역코드) 역명
2022-05-01 1호선 150          서울역      45      -462      -514      -389
               151          시청      -16      -183      -212      -490
               152          종각      124       -82      -259      -579
               153          종로3가    219       -54       -96      -254
               154          종로5가     31       -53      -103      -136

                                  09-10시간대  10-11시간대  11-12시간대  12-13시간대  \
수송일자       호선  고유역번호(외부역코드) 역명
2022-05-01 1호선 150          서울역       -427      -166       301       140
               151          시청        -853     -1889     -1457      -657
               152          종각       -1133     -1027     -1445     -1509
               153          종로3가      -501      -687      -955      -819
               154          종로5가      -343      -406      -745      -551

                                  13-14시간대  14-15시간대  ...  16-17시간대  17-18시간대  \
수송일자       호선  고유역번호(외부역코드) 역명                        ...
2022-05-01 1호선 150          서울역        233      -419  ...       273       217
               151          시청       -1082       -54  ...       888       745
               152          종각        -521      -112  ...      1115      1396
               153          종로3가      -786      -285  ...       926      1053
               154          종로5가      -278       -14  ...       387       451

                                  18-19시간대  19-20시간대  20-21시간대  21-22시간대  \
수송일자       호선  고유역번호(외부역코드) 역명
2022-05-01 1호선 150          서울역         -7       452       565      1150
               151          시청         906       639       650       467
               152          종각        1706      1296      1564      1576
               153          종로3가       828       897       970       843
               154          종로5가       416       595       411       356

                                  22-23시간대  23-24시간대  24시이후  총 이용인원
수송일자       호선  고유역번호(외부역코드) 역명
2022-05-01 1호선 150          서울역       1150       293      0    2643
               151          시청         299        15      0   -1718
               152          종각         991       356      0    3948
               153          종로3가       621       133      0    2542
               154          종로5가       169       -21      0     346

[5 rows x 21 columns]

In [4]:
df_diff['승하차구분'] = '승하차 차이'
df_diff.head()

                                  06시이전  06-07시간대  07-08시간대  08-09시간대  \
수송일자       호선  고유역번호(외부역코드) 역명
2022-05-01 1호선 150          서울역      45      -462      -514      -389
               151          시청      -16      -183      -212      -490
               152          종각      124       -82      -259      -579
               153          종로3가    219       -54       -96      -254
               154          종로5가     31       -53      -103      -136

                                  09-10시간대  10-11시간대  11-12시간대  12-13시간대  \
수송일자       호선  고유역번호(외부역코드) 역명
2022-05-01 1호선 150          서울역       -427      -166       301       140
               151          시청        -853     -1889     -1457      -657
               152          종각       -1133     -1027     -1445     -1509
               153          종로3가      -501      -687      -955      -819
               154          종로5가      -343      -406      -745      -551

                                  13-14시간대  14-15시간대  ...  17-18시간대  18-19시간대  \
수송일자       호선  고유역번호(외부역코드) 역명                        ...
2022-05-01 1호선 150          서울역        233      -419  ...       217        -7
               151          시청       -1082       -54  ...       745       906
               152          종각        -521      -112  ...      1396      1706
               153          종로3가      -786      -285  ...      1053       828
               154          종로5가      -278       -14  ...       451       416

                                  19-20시간대  20-21시간대  21-22시간대  22-23시간대  \
수송일자       호선  고유역번호(외부역코드) 역명
2022-05-01 1호선 150          서울역        452       565      1150      1150
               151          시청         639       650       467       299
               152          종각        1296      1564      1576       991
               153          종로3가       897       970       843       621
               154          종로5가       595       411       356       169

                                  23-24시간대  24시이후  총 이용인원   승하차구분
수송일자       호선  고유역번호(외부역코드) 역명
2022-05-01 1호선 150          서울역        293      0    2643  승하차 차이
               151          시청          15      0   -1718  승하차 차이
               152          종각         356      0    3948  승하차 차이
               153          종로3가       133      0    2542  승하차 차이
               154          종로5가       -21      0     346  승하차 차이

[5 rows x 22 columns]

In [5]:
df_diff.reset_index(inplace=True)

In [6]:
df_diff.isnull().sum()

수송일자            0
호선              0
고유역번호(외부역코드)    0
역명              0
06시이전           0
06-07시간대        0
07-08시간대        0
08-09시간대        0
09-10시간대        0
10-11시간대        0
11-12시간대        0
12-13시간대        0
13-14시간대        0
14-15시간대        0
15-16시간대        0
16-17시간대        0
17-18시간대        0
18-19시간대        0
19-20시간대        0
20-21시간대        0
21-22시간대        0
22-23시간대        0
23-24시간대        0
24시이후           0
총 이용인원          0
승하차구분           0
dtype: int64

In [7]:
result = pd.concat([ndf, df_diff])
result.tail()

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,총 이용인원,요일,휴무일
99460,2023-04-30,8호선,2824,단대오거리,승하차 차이,116,120,190,367,444,...,-446,-337,-315,-416,-381,-249,-39,356,NaN,NaN
99461,2023-04-30,8호선,2825,신흥,승하차 차이,64,48,56,152,160,...,-120,-132,-73,-144,-134,-87,-17,-73,NaN,NaN
99462,2023-04-30,8호선,2826,수진,승하차 차이,49,54,68,162,191,...,-109,-115,-90,-172,-157,-86,-12,263,NaN,NaN
99463,2023-04-30,8호선,2827,모란,승하차 차이,41,-2,10,46,67,...,-31,-60,-28,1,-2,16,-16,598,NaN,NaN
99464,2023-04-30,8호선,2828,남위례,승하차 차이,8,0,20,31,39,...,-77,-132,-59,-35,-27,-89,0,-162,NaN,NaN

In [8]:
result = result.sort_values(by=['수송일자', '호선', '고유역번호(외부역코드)', '역명'])
result

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,총 이용인원,요일,휴무일
1,2022-05-01,1호선,150,서울역,승차,184,193,328,677,1120,...,2619,2648,2409,2494,1902,669,0,33880,Sun,주말
2,2022-05-01,1호선,150,서울역,하차,139,655,842,1066,1547,...,2626,2196,1844,1344,752,376,0,31237,Sun,주말
0,2022-05-01,1호선,150,서울역,승하차 차이,45,-462,-514,-389,-427,...,-7,452,565,1150,1150,293,0,2643,NaN,NaN
3,2022-05-01,1호선,151,시청,승차,61,67,124,162,211,...,1257,890,861,634,387,129,0,11449,Sun,주말
4,2022-05-01,1호선,151,시청,하차,77,250,336,652,1064,...,351,251,211,167,88,114,0,13167,Sun,주말
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198929,2023-04-30,8호선,2827,모란,하차,13,84,63,78,132,...,235,235,181,147,128,54,17,2782,Sun,주말
99463,2023-04-30,8호선,2827,모란,승하차 차이,41,-2,10,46,67,...,-31,-60,-28,1,-2,16,-16,598,NaN,NaN
198930,2023-04-30,8호선,2828,남위례,승차,23,71,89,163,230,...,249,175,165,170,132,62,0,3947,Sun,주말
198931,2023-04-30,8호선,2828,남위례,하차,15,71,69,132,191,...,326,307,224,205,159,151,0,4109,Sun,주말
99464,2023-04-30,8호선,2828,남위례,승하차 차이,8,0,20,31,39,...,-77,-132,-59,-35,-27,-89,0,-162,NaN,NaN

In [9]:
result.reset_index(drop=True, inplace=True)
result

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후,총 이용인원,요일,휴무일
0,2022-05-01,1호선,150,서울역,승차,184,193,328,677,1120,...,2619,2648,2409,2494,1902,669,0,33880,Sun,주말
1,2022-05-01,1호선,150,서울역,하차,139,655,842,1066,1547,...,2626,2196,1844,1344,752,376,0,31237,Sun,주말
2,2022-05-01,1호선,150,서울역,승하차 차이,45,-462,-514,-389,-427,...,-7,452,565,1150,1150,293,0,2643,NaN,NaN
3,2022-05-01,1호선,151,시청,승차,61,67,124,162,211,...,1257,890,861,634,387,129,0,11449,Sun,주말
4,2022-05-01,1호선,151,시청,하차,77,250,336,652,1064,...,351,251,211,167,88,114,0,13167,Sun,주말
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298390,2023-04-30,8호선,2827,모란,하차,13,84,63,78,132,...,235,235,181,147,128,54,17,2782,Sun,주말
298391,2023-04-30,8호선,2827,모란,승하차 차이,41,-2,10,46,67,...,-31,-60,-28,1,-2,16,-16,598,NaN,NaN
298392,2023-04-30,8호선,2828,남위례,승차,23,71,89,163,230,...,249,175,165,170,132,62,0,3947,Sun,주말
298393,2023-04-30,8호선,2828,남위례,하차,15,71,69,132,191,...,326,307,224,205,159,151,0,4109,Sun,주말
298394,2023-04-30,8호선,2828,남위례,승하차 차이,8,0,20,31,39,...,-77,-132,-59,-35,-27,-89,0,-162,NaN,NaN

In [10]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298395 entries, 0 to 298394
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   수송일자          298395 non-null  object
 1   호선            298395 non-null  object
 2   고유역번호(외부역코드)  298395 non-null  int64
 3   역명            298395 non-null  object
 4   승하차구분         298395 non-null  object
 5   06시이전         298395 non-null  int64
 6   06-07시간대      298395 non-null  int64
 7   07-08시간대      298395 non-null  int64
 8   08-09시간대      298395 non-null  int64
 9   09-10시간대      298395 non-null  int64
 10  10-11시간대      298395 non-null  int64
 11  11-12시간대      298395 non-null  int64
 12  12-13시간대      298395 non-null  int64
 13  13-14시간대      298395 non-null  int64
 14  14-15시간대      298395 non-null  int64
 15  15-16시간대      298395 non-null  int64
 16  16-17시간대      298395 non-null  int64
 17  17-18시간대      298395 non-null  int64
 18  18-19시간대      298395 non-null  int64
 19  19-20시간대      298395 non-null  int64
 20  20-21시간대      298395 non-null  int64
 21  21-22시간대      298395 non-null  int64
 22  22-23시간대      298395 non-null  int64
 23  23-24시간대      298395 non-null  int64
 24  24시이후         298395 non-null  int64
 25  총 이용인원        298395 non-null  int64
 26  요일            198930 non-null  object
 27  휴무일           198930 non-null  object
dtypes: int64(22), object(6)
memory usage: 63.7+ MB

In [11]:
result['수송일자'] = pd.to_datetime(result['수송일자'])
result['수송일자']

0        2022-05-01
1        2022-05-01
2        2022-05-01
3        2022-05-01
4        2022-05-01
            ...
298390   2023-04-30
298391   2023-04-30
298392   2023-04-30
298393   2023-04-30
298394   2023-04-30
Name: 수송일자, Length: 298395, dtype: datetime64[ns]

In [12]:
result['요일'] = result['수송일자'].dt.weekday
result.loc[result['요일'].isin([5, 6]), '휴무일'] = 1
result.loc[result['요일'].isin([0,1,2,3,4]), '휴무일'] = 0
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298395 entries, 0 to 298394
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   수송일자          298395 non-null  datetime64[ns]
 1   호선            298395 non-null  object
 2   고유역번호(외부역코드)  298395 non-null  int64
 3   역명            298395 non-null  object
 4   승하차구분         298395 non-null  object
 5   06시이전         298395 non-null  int64
 6   06-07시간대      298395 non-null  int64
 7   07-08시간대      298395 non-null  int64
 8   08-09시간대      298395 non-null  int64
 9   09-10시간대      298395 non-null  int64
 10  10-11시간대      298395 non-null  int64
 11  11-12시간대      298395 non-null  int64
 12  12-13시간대      298395 non-null  int64
 13  13-14시간대      298395 non-null  int64
 14  14-15시간대      298395 non-null  int64
 15  15-16시간대      298395 non-null  int64
 16  16-17시간대      298395 non-null  int64
 17  17-18시간대      298395 non-null  int64
 18  18-19시간대      298395 non-null  int64
 19  19-20시간대      298395 non-null  int64
 20  20-21시간대      298395 non-null  int64
 21  21-22시간대      298395 non-null  int64
 22  22-23시간대      298395 non-null  int64
 23  23-24시간대      298395 non-null  int64
 24  24시이후         298395 non-null  int64
 25  총 이용인원        298395 non-null  int64
 26  요일            298395 non-null  int64
 27  휴무일           298395 non-null  object
dtypes: datetime64[ns](1), int64(23), object(4)
memory usage: 63.7+ MB

In [13]:
result.to_csv('../data/지하철/전처리_지하철/전처리_지하철_요일_고유역번호_승하차차이0717.csv')